# Database Configuration
USE_SQLITE=true # set it false for PostgreSQL. Make sure to update the DB_ variables accordingly
DB_HOST=localhost
DB_NAME=product_pipeline
DB_USER=your_username
DB_PASSWORD=your_password
DB_PORT=5432

# AliExpress API Configuration (via RapidAPI)
RAPIDAPI_KEY=Your api key for rapidapi
RAPIDAPI_HOST=aliexpress-true-api.p.rapidapi.com

# AliExpress API Region Settings
ALIEXPRESS_TARGET_CURRENCY=EUR
ALIEXPRESS_TARGET_LANGUAGE=EN
ALIEXPRESS_TARGET_COUNTRY=DE

# Application Settings
KEYWORD_FILE=data/keywords.csv
LOG_LEVEL=INFO
RATE_LIMIT_DELAY=1
MAX_RETRIES=3
TIMEOUT=30
USE_MOCK_DATA=false
API_PAGE_SIZE=50
